* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    
}

.painels {
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}

.painel {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .7s cubic-bezier(.6, -.2, .7, -.1);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.paragrath {
    color: rgb(0, 201, 0);
    text-transform: uppercase;
    flex: 1 1 45;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    transition: 1s;
    font-size: 1rem;

    text-shadow: -2px 2px black, 0 0 5px rgba(0, 0, 0, .9), 0 0 15px rgba(0, 0, 0, .45);
}

.paragrath:nth-child(2) {
    font-size: 2rem;
}

.paragrath:first-child {
    transform: translateY(-100%);
}
.paragrath:last-child {
    transform: translateY(100%);
}

.first{background-image: url(https://i.pinimg.com/236x/b9/c4/fe/b9c4fecf692fde65a80043b578b88cb4.jpg)}
.second{background-image: url(https://i.pinimg.com/564x/f7/fd/01/f7fd01c2bdb8bf6608002efb99fc1a19.jpg);}
.third{background-image: url(https://i.pinimg.com/564x/45/90/30/45903028755fe140c3df5c68533ef296.jpg);}
.fourth{background-image: url(https://i.pinimg.com/736x/e8/31/25/e83125dd7e3dba56ee97f6a3a32dc544.jpg);}
.fifth{background-image: url(https://i.pinimg.com/236x/f7/19/ff/f719ff63f4996ba0a2573c5d17b28d81.jpg);}


.open {
    flex: 2;
}

.painel.open-active .paragrath {
    transform: translateY(0);
    font-size: 2rem;
}

.painel.open-active .paragrath:nth-child(2) {
    font-size: 4rem;
}