@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}