@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* color: #fff; */
    background:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(https://i.pinimg.com/564x/f8/c8/c1/f8c8c1110ebd6ba2f481e6c4988e10c9.jpg);
    /* url(https://i.pinimg.com/236x/8f/da/cb/8fdacb057ac7c4e27a5f37e9ad32ef52.jpg); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: 'poppins';
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 3rem 0;
}

.box {
    color: #000;
    background: url(https://i.pinimg.com/236x/20/3c/e0/203ce08486c8cf70275031ec69cc5f9b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    max-width: 90vw;
    padding: 5em 8em;
    margin: 15px 0;
    box-shadow: 0 0 15px darkblue,
        inset 0 0 15px darkblue;
    transform: translate(500%);
    transition: transform .6s ease;
}

.box:nth-of-type(even) {
    color: #fff;
    box-shadow: 0 0 8px cyan,
        inset 0 0 15px cyan;
    background-image: url(https://i.pinimg.com/736x/c2/fb/00/c2fb004a1353ef99a33d0d7078d4cc5d.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate(-500%);
}

.box.show {
    transform: translate(0);
}

h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 10px 0;
}